.page-one-container {
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
.page-one-video {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .page-one-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .page-one-video {
    width: 100%;
    height: 100vh;
  }
}

.circle-container {
  height: 100vh;
  box-sizing: border-box;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid transparent;
  height: 150px;
  /* line-height: 150px; */
  width: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.circle-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.circle::before,
.circle::after {
  content: "";
  display: block;
  position: absolute;
  border: 50%;
  /* border: 1px solid red, 6px solid green; */
  /* border: 6px solid red; */
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 8s linear;
}

@keyframes animate {
  0% {
    border: 30px solid white;
  }
  40% {
    border: 5px solid white;
  }
  50% {
    border: 10px solid red;
  }
  60% {
    border: 5px solid white;
  }
  100% {
    border: 30px solid white;
  }
}
